In [10]:
# Categorical data to  Numbers 
# One hot encoding is the method of converting categorical data into numerical data

In [9]:
# There are two types of data 
# 1. Nominal -  NO order , (eg.male female)
# 2. Ordinal  - have order, Have hierarchy  (eg. ,Excellent,Good, bad)

In [8]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Sample Data
data = pd.DataFrame({'Color': ['Red', 'Green', 'Blue', 'Red', 'Green']})

# One-Hot Encoder
encoder = OneHotEncoder(sparse_output=False)
encoded = encoder.fit_transform(data[['Color']])

# Convert to DataFrame
encoded_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out(['Color']))

print(encoded_df)

   Color_Blue  Color_Green  Color_Red
0         0.0          0.0        1.0
1         0.0          1.0        0.0
2         1.0          0.0        0.0
3         0.0          0.0        1.0
4         0.0          1.0        0.0

In [11]:
# Multi Collineranity

In [12]:
# Practical Guide

In [21]:
import pandas as pd

# Create a dataset with sample data
data = {
    'brand': ['Toyota', 'Honda', 'BMW', 'Ford', 'Chevrolet'],
    'km_driven': [25000, 30000, 15000, 40000, 20000],
    'fuel': ['Petrol', 'Diesel', 'Petrol', 'Diesel', 'Petrol'],
    'owner': ['first', 'second', 'first', 'third', 'second'],
    'selling_price': [800000, 600000, 1200000, 500000, 750000]
}

# Create a DataFrame
df = pd.DataFrame(data)

# Display the dataset
print(df)

       brand  km_driven    fuel   owner  selling_price
0     Toyota      25000  Petrol   first         800000
1      Honda      30000  Diesel  second         600000
2        BMW      15000  Petrol   first        1200000
3       Ford      40000  Diesel   third         500000
4  Chevrolet      20000  Petrol  second         750000

In [22]:
df.head()

       brand  km_driven    fuel   owner  selling_price
0     Toyota      25000  Petrol   first         800000
1      Honda      30000  Diesel  second         600000
2        BMW      15000  Petrol   first        1200000
3       Ford      40000  Diesel   third         500000
4  Chevrolet      20000  Petrol  second         750000

In [24]:
df['owner'].value_counts()

owner
first     2
second    2
third     1
Name: count, dtype: int64

In [27]:
# 1. OneHotEncoding using Pandas 
pd.get_dummies(df,columns=['fuel','owner'],dtype=int)

,brand,km_driven,selling_price,fuel_Diesel,fuel_Petrol,owner_first,owner_second,owner_third
0,Toyota,25000,800000,0,1,1,0,0
1,Honda,30000,600000,1,0,0,1,0
2,BMW,15000,1200000,0,1,1,0,0
3,Ford,40000,500000,1,0,0,0,1
4,Chevrolet,20000,750000,0,1,0,1,0

In [32]:
# K-1 OneHotEncoding
pd.get_dummies(df,columns=['fuel','owner'],drop_first=True,dtype=int)

       brand  km_driven  selling_price  fuel_Petrol  owner_second  owner_third
0     Toyota      25000         800000            1             0            0
1      Honda      30000         600000            0             1            0
2        BMW      15000        1200000            1             0            0
3       Ford      40000         500000            0             0            1
4  Chevrolet      20000         750000            1             1            0

In [34]:
# 3. OneHotEncoding using Sklearn
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(df.iloc[:,0:40],df.iloc[:,-1],test_size=0.2,random_state=42)

In [37]:
from sklearn.preprocessing import OneHotEncoder

In [38]:
ohe = OneHotEncoder()

In [42]:
X_train_new = ohe.fit_transform(X_train[['fuel','owner']]).toarray()

In [43]:
X_test_new = ohe.fit_transform(X_train[['fuel','owner']]).toarray()

In [46]:
# 4. OneHotEncoding with Top Categories